.footer{
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -7rem;
    z-index: 1;
}

.f-content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    width: 100%;
    margin-top: 4rem;
    gap: 4rem;
    color: white;
}

.f-icons{
    display: flex;
    gap: 2rem;
}

.copyright{
    z-index: 1; 
      
}

@media screen and (max-width: 480px) {
    .f-icons{
       transform: scale(0.5);
       margin-top: -3rem;
       width: 20rem;
       gap: 3rem;

    }
    .copyright{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0.7);
        
    }
}