.toggle{
    display: flex;
    justify-content: space-between;
    border: 3px solid var(--green);
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
}

.toggle>*{
    width: 1rem;
    height: 1rem;
    color: var(--green);
}

.t-button{
    border-radius: 100%;
    background: var(--green);
    position: absolute;
}